# Date time Modules

In [1]:
import time

In [2]:
x=time.time() # returns the no of seconds pass from epoach
x

1666602978.4778285

In [3]:
type(x)

float

In [4]:
# help(time.time)

In [5]:
time.ctime(x) # Current date and time

'Mon Oct 24 14:46:18 2022'

In [6]:
# help(time.ctime)

In [7]:
a=time.localtime()
a

time.struct_time(tm_year=2022, tm_mon=10, tm_mday=24, tm_hour=14, tm_min=46, tm_sec=19, tm_wday=0, tm_yday=297, tm_isdst=0)

In [8]:
# help(time.localtime())

In [9]:
b=time.mktime(a) #converts struct_time in local format
b

1666602979.0

In [10]:
c=time.asctime(a)

In [11]:
print(c)

Mon Oct 24 14:46:19 2022

In [12]:
help(time.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [13]:
print(a)

time.struct_time(tm_year=2022, tm_mon=10, tm_mday=24, tm_hour=14, tm_min=46, tm_sec=19, tm_wday=0, tm_yday=297, tm_isdst=0)

In [14]:
x=time.strftime('%m-%d-%Y') # Return current time in required format

In [15]:
print(x)

10-24-2022

In [16]:
y='08 August 2022'
s=time.strptime(y,'%d %B %Y') # convert given time in struct time format
print(s)

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=8, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=220, tm_isdst=-1)

# DateTime

In [17]:
import datetime

In [18]:
print(datetime.datetime(2019,4,23,4,53,2,235))

2019-04-23 04:53:02.000235

In [19]:
datetime.datetime.today()

datetime.datetime(2022, 10, 24, 14, 46, 20, 614170)

In [20]:
v=datetime.datetime.now()
v

datetime.datetime(2022, 10, 24, 14, 46, 20, 732795)

In [21]:
v.year

2022

In [22]:
v.month

10

In [23]:
v.hour

14

In [24]:
v.second

20

In [25]:
b1=datetime.timedelta(days=1)
b2=datetime.timedelta(days=20)
b3=b1-b2

In [26]:
b3

datetime.timedelta(days=-19)

# Working with Date and Time in Pandas

In [27]:
import pandas as pd
import datetime as dt

### Review Python's *datetime* Module

In [28]:
today=dt.date(2019,12,22) # Create date

In [29]:
today.day

22

In [30]:
today.month

12

In [31]:
today.year

2019

In [32]:
today

datetime.date(2019, 12, 22)

In [33]:
today=dt.datetime(2019,12,22,14,12,34) # for both date and time

In [34]:
today

datetime.datetime(2019, 12, 22, 14, 12, 34)

In [35]:
print(today)

2019-12-22 14:12:34

In [36]:
today.day

22

In [37]:
today.hour

14

In [38]:
today.minute

12

In [39]:
print(today.second)

34

### Timestamp

In [40]:
pd.Timestamp('2019-12-22')

Timestamp('2019-12-22 00:00:00')

In [41]:
pd.Timestamp('2019/12/22')

Timestamp('2019-12-22 00:00:00')

In [42]:
# pd.Timestamp('2019,12,22') # gives error

In [43]:
pd.Timestamp('2019-12-22 5:23:45 PM')

Timestamp('2019-12-22 17:23:45')

### Pandas DateTimeIndex

In [44]:
dates=['2019/12/22','2019/12/23','2019/12/24']
dates

['2019/12/22', '2019/12/23', '2019/12/24']

In [45]:
pd_date=pd.DatetimeIndex(dates)
pd_date

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24'], dtype='datetime64[ns]', freq=None)

In [46]:
type(dates)

list

In [47]:
type(pd_date)

pandas.core.indexes.datetimes.DatetimeIndex

In [48]:
date=[dt.date(2019,12,22),dt.date(2019,12,23),dt.date(2019,12,24)]

In [49]:
date

[datetime.date(2019, 12, 22),
 datetime.date(2019, 12, 23),
 datetime.date(2019, 12, 24)]

In [50]:
dateIndex=pd.DatetimeIndex(date)

In [51]:
dateIndex

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24'], dtype='datetime64[ns]', freq=None)

In [52]:
values=[12,13,10]
pd_se=pd.Series(data=values,index=dateIndex)
pd_se

2019-12-22    12
2019-12-23    13
2019-12-24    10
dtype: int64

### pd.to_datetime()

In [53]:
pd.to_datetime('2019/12/22')

Timestamp('2019-12-22 00:00:00')

In [54]:
pd.to_datetime(dt.date(2019,12,22))

Timestamp('2019-12-22 00:00:00')

In [55]:
pd.to_datetime(dt.datetime(2019,12,22,17,23,45))

Timestamp('2019-12-22 17:23:45')

In [56]:
dates=['2019/12/22','2019/12/23','2019/12/24']
pd.to_datetime(dates)

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24'], dtype='datetime64[ns]', freq=None)

In [57]:
dates=pd.Series(['December 22nd, 2019', '2019, 12 ,22','This is Date','Dec 23rd, 2019'])
dates

0    December 22nd, 2019
1           2019, 12 ,22
2           This is Date
3         Dec 23rd, 2019
dtype: object

In [58]:
pd.to_datetime(dates,errors='coerce')

0   2019-12-22
1   2019-12-22
2          NaT
3   2019-12-23
dtype: datetime64[ns]

In [59]:
unixtime=[1234563,2343245,23435,4352324]

In [60]:
pd.to_datetime(unixtime,unit='s')

DatetimeIndex(['1970-01-15 06:56:03', '1970-01-28 02:54:05',
               '1970-01-01 06:30:35', '1970-02-20 08:58:44'],
              dtype='datetime64[ns]', freq=None)

### Create Range in the form of Date ``pd.date_range()``

In [72]:
times=pd.date_range(start='2019-12-22', end='2020-12-22',freq='D')

In [73]:
times

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31',
               ...
               '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
               '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
               '2020-12-21', '2020-12-22'],
              dtype='datetime64[ns]', length=367, freq='D')

In [74]:
times=pd.date_range(start='2019-12-22', end='2020-12-22',freq='3W')

In [75]:
times

DatetimeIndex(['2019-12-22', '2020-01-12', '2020-02-02', '2020-02-23',
               '2020-03-15', '2020-04-05', '2020-04-26', '2020-05-17',
               '2020-06-07', '2020-06-28', '2020-07-19', '2020-08-09',
               '2020-08-30', '2020-09-20', '2020-10-11', '2020-11-01',
               '2020-11-22', '2020-12-13'],
              dtype='datetime64[ns]', freq='3W-SUN')

In [76]:
times=pd.date_range(start='2019-12-22', end='2020-12-22',freq='5H')

In [77]:
times

DatetimeIndex(['2019-12-22 00:00:00', '2019-12-22 05:00:00',
               '2019-12-22 10:00:00', '2019-12-22 15:00:00',
               '2019-12-22 20:00:00', '2019-12-23 01:00:00',
               '2019-12-23 06:00:00', '2019-12-23 11:00:00',
               '2019-12-23 16:00:00', '2019-12-23 21:00:00',
               ...
               '2020-12-19 23:00:00', '2020-12-20 04:00:00',
               '2020-12-20 09:00:00', '2020-12-20 14:00:00',
               '2020-12-20 19:00:00', '2020-12-21 00:00:00',
               '2020-12-21 05:00:00', '2020-12-21 10:00:00',
               '2020-12-21 15:00:00', '2020-12-21 20:00:00'],
              dtype='datetime64[ns]', length=1757, freq='5H')

## Import Stock Data using `datareader`

In [80]:
from pandas_datareader import data

In [81]:
# !pip install pandas_datareader

In [82]:
company='MSFT'
start='24-10-2020'
end='24-10-22'

In [84]:
stocks=data.DataReader(name=company,data_source='yahoo',start=start,end=end)

C:\Users\Atul\anaconda3\lib\site-packages\pandas_datareader\_utils.py:33: UserWarning: Parsing '24-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  start = to_datetime(start)

In [85]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-23,216.279999,213.160004,215.029999,216.229996,18879600.0,212.484344
2020-10-26,216.339996,208.100006,213.850006,210.080002,37111600.0,206.440872
2020-10-27,214.669998,210.330002,211.589996,213.250000,36700300.0,209.555969
2020-10-28,208.839996,202.100006,207.669998,202.679993,51195600.0,199.169083
2020-10-29,207.360001,203.369995,204.070007,204.720001,31432600.0,201.173737
...,...,...,...,...,...,...
2022-10-17,238.960007,235.139999,235.820007,237.529999,28142300.0,237.529999
2022-10-18,243.929993,235.369995,243.240005,238.500000,26329600.0,238.500000
2022-10-19,239.610001,234.289993,237.039993,236.479996,19985700.0,236.479996
2022-10-20,241.309998,234.869995,235.770004,236.149994,21811000.0,236.149994
2022-10-21,243.000000,234.500000,234.740005,242.119995,26280900.0,242.119995

In [93]:
stocks.loc['2022-10-20']['High']

241.30999755859375

In [92]:
stocks.iloc[501]

High         2.413100e+02
Low          2.348700e+02
Open         2.357700e+02
Close        2.361500e+02
Volume       2.181100e+07
Adj Close    2.361500e+02
Name: 2022-10-20 00:00:00, dtype: float64

In [95]:
stocks.loc['2020-12-1':'2022-4-3']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-01,217.320007,213.350006,214.509995,216.210007,30904500.0,213.020950
2020-12-02,215.470001,212.800003,214.880005,215.369995,23724500.0,212.193344
2020-12-03,216.380005,213.649994,214.610001,214.240005,25120900.0,211.080002
2020-12-04,215.380005,213.179993,214.220001,214.360001,24666000.0,211.198242
2020-12-07,215.539993,212.990005,214.369995,214.289993,24620000.0,211.129242
...,...,...,...,...,...,...
2022-03-28,310.799988,304.329987,304.329987,310.700012,29578200.0,309.321472
2022-03-29,315.820007,309.049988,313.910004,315.410004,30393400.0,314.010590
2022-03-30,315.950012,311.579987,313.760010,313.859985,28163600.0,312.467438
2022-03-31,315.140015,307.890015,313.899994,308.309998,33422100.0,306.942047
2022-04-01,310.130005,305.540009,309.369995,309.420013,27110500.0,308.047150

In [96]:
stocks.truncate(before='2020-12-1',after='2022-4-3')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-01,217.320007,213.350006,214.509995,216.210007,30904500.0,213.020950
2020-12-02,215.470001,212.800003,214.880005,215.369995,23724500.0,212.193344
2020-12-03,216.380005,213.649994,214.610001,214.240005,25120900.0,211.080002
2020-12-04,215.380005,213.179993,214.220001,214.360001,24666000.0,211.198242
2020-12-07,215.539993,212.990005,214.369995,214.289993,24620000.0,211.129242
...,...,...,...,...,...,...
2022-03-28,310.799988,304.329987,304.329987,310.700012,29578200.0,309.321472
2022-03-29,315.820007,309.049988,313.910004,315.410004,30393400.0,314.010590
2022-03-30,315.950012,311.579987,313.760010,313.859985,28163600.0,312.467438
2022-03-31,315.140015,307.890015,313.899994,308.309998,33422100.0,306.942047
2022-04-01,310.130005,305.540009,309.369995,309.420013,27110500.0,308.047150

## @TimeDelta@

In [97]:
timeA=pd.Timestamp('2019-12-22 17:23:34')
timeB=pd.Timestamp('2019-12-23 19:23:34')

In [98]:
timeB-timeA

Timedelta('1 days 02:00:00')

In [100]:
pd.Timedelta(weeks=10,days=2,hours=3,minutes=23)

Timedelta('72 days 03:23:00')