# Simple linear Regression with sklearn

## Importing the relevent libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
sns.set()
#sk.set_config(print_changed_only=False) # to show parameters in sklearn outputs
from sklearn import set_config as setcon
setcon(print_changed_only=False)

## Load the data

In [2]:
data=pd.read_csv('D:\\Datasets\\1.Simple_linear_regression.csv')
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

## Create the Regression

### Declare the dependent and independent variables

In [3]:
x=data['SAT'] #independent variable
y=data['GPA'] #dependent variable

In [4]:
x_mat=x.values.reshape(-1,1) # sklearn works on numpy and does takes 2D array, so we reshaped x values in 2D array
print(x.shape,x_mat.shape)
print(type(x),type(x_mat))

(84,) (84, 1)
<class 'pandas.core.series.Series'> <class 'numpy.ndarray'>

### Regression itself

In [5]:
reg=LinearRegression()

In [6]:
reg.fit(x_mat,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                 normalize='deprecated', positive=False)

## Exploring model

### $R^{2}$ value

In [7]:
reg.score(x_mat,y)

0.40600391479679765

### Coefficient and Intercept

In [8]:
print(f"coefficient={reg.coef_},Intercept={reg.intercept_}")

coefficient=[0.00165569],Intercept=0.275040299660279

## Making Predictions

In [9]:
reg.predict([[1740]])

array([3.15593751])

In [10]:
new_data=pd.DataFrame(data=[1740,1760],columns=['SAT'])
new_data

    SAT
0  1740
1  1760

In [11]:
reg.predict(new_data.values)

array([3.15593751, 3.18905127])

In [12]:
new_data['Predicted_GPA']=reg.predict(new_data.values)
new_data

    SAT  Predicted_GPA
0  1740       3.155938
1  1760       3.189051